@media(max-width:1024px){
    .c-container{
        flex-direction: column;
    }
    .c-right{
        justify-content: center;
    }
    .contact-modes{
        width: 100%;
    }
    .row{
        flex-direction: column;
        width: 100%
    }
    .mode{
        width: 100%;
    }
}