@media (max-width:640px){
    .hero-container{
        margin-top: 2.5rem;
    }
    .title>h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .image-container>img{
        width: 95%;
        height: 25rem;
    }
    .stats{
        justify-content: center;
        
    }
    .h-right{
        width: 100%;
    }
    .stats>:nth-child(1){
        font-size: 1.5rem;
    }
    .stats>:nth-child(2){
        font-size: 0.8rem;
    }
}
.hero-left {
    gap: 3rem;
  }
  .hero-container{
    justify-content: space-around;
  }